# Image tags
GRAFANA_TAG=latest
INFLUXDB_TAG=latest

# Ports
GRAFANA_PORT=3000
INFLUXDB_HTTP_PORT=8086
INFLUXDB_ADMIN_PORT=8083
TELEGRAF_GRPC_PORT=42518

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SECURITY_SECRET_KEY=grafana
GF_USERS_ALLOW_SIGN_UP=true
GF_USERS_ALLOW_ORG_CREATE=true
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_NAME=grafana
GF_DASHBOARDS_JSON_ENABLED=true
GF_DASHBOARDS_JSON_PATH=/opt/grafana

# InfluxDB
INFLUX_DATABASE=telegraf
INLFUX_ADMIN_USER=grafana
INFLUX_ADMIN_PASS=grafana

# Telegraf
HOST_NAME=telegraf
INFLUXDB_HOST=influxdb
INFLUXDB_PORT=8086
DATABASE=telegraf
